---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import apoteket from "../assets/images/apoteket.jpg";
import arbejde from "../assets/images/arbejde.jpg";
import glitch from "../assets/images/glitch.jpg";
import godtarbejde from "../assets/images/godt-arbejde.jpg";
import lidtifem from "../assets/images/lidtifem-pierre-falcke.jpg";
import smena from "../assets/images/lomo-smena-17.jpg";
import overouticm from "../assets/images/over-out-icm.jpeg";
import img1 from "../assets/images/img1.jpg";
import img2 from "../assets/images/img2.jpg";
import img3 from "../assets/images/img3.jpg";
import img4 from "../assets/images/img4.jpg";
import img5 from "../assets/images/img5.jpg";
import scan from "../assets/images/scan.jpg";
import lomo1 from "../assets/images/lomo1.jpg";
import pierre from "../assets/images/pierre.jpeg";
import tyndfilm from "../assets/images/tynd-film.jpg";
const { href="#", target="_self"} = Astro.props; 
import "../styles/tobii.min.css";
---
<MainLayout title="Uperfekt er perfekt">
	<article class="p-4 md:p-0">
		<!-- titel -->
		<section class="max-w-xl mx-auto mt-32 prose" id="titel">
			<h2 class="text-6xl md:text-9xl text-center text-black font-archivo">Uperfekt er
				<span class="bg-gradient-to-r bg-clip-text text-transparent from-blue-400 via-purple-500 to-indigo-700
            animate-text font-archivo">perfekt</span></h2>
		</section>
	

		<!-- video forneden -->
		<section id="videoonhover" x-data class="max-w-4xl mx-auto mt-32 animate__animated animate__swing"> 
			<div class="pb-10 animate__animated animate__pulse">
				<!-- <span class="vidtxt font-bold text-2xl">Se mig</span> -->
			</div>
			<div class="bg-gradient-to-b from-blue-500 to-purple-700">
				<video x-ref="hovervideo" class="hover:rotate-3" muted loop @mouseenter="$refs.hovervideo.play()" @mouseleave="$refs.hovervideo.pause()">
					<source src="pierre-falcke-video.mp4" type="video/mp4">
					<source src="vidimg.webm" type="video/webm">
					</video>
			</div>
		</section>


		<!-- selvportræt med tekstboks -->
		<section class="max-w-xl mx-auto mt-32 prose pb-12" id="manchet">
			<p class="text-xl">Pierre Falcke. Du ved formentligt ikke hvem han er. Men indtil for kort tid siden, så du hans værker et par gange om dagen, hver dag, året rundt. Pierre Falcke var en af verdens bedst sælgende stock-fotografer, og han solgte over 2 millioner fotos om året. Men Pierre kunne ikke drømme om at bruge sine egne fotos - faktisk kan han ikke fordrage sit eget arbejde.</p>
		</section>

		<div class="flex items-center h-screen w-100 bg-cover bg-center bg-fixed" style="background-image: url('/pierre.jpeg')" >
			<p class="w-3/4 lg:w-1/2 mx-auto p-10 bg-slate-50 text-xl sticky top-1/4">Pierre sælger 2 millioner fotos om året</p>
		</div>
		<div class="flex items-center h-screen w-100 bg-cover bg-center" style="background-image: url('/scan.jpg')" >
			<p class="w-3/4 lg:w-1/2 mx-auto p-10 bg-slate-50 text-xl sticky top-1/4">Du ser hans fotos ca. 2 gange om dagen</p>
		</div>
		<div class="flex items-center h-screen w-100 bg-cover bg-center" style="background-image: url('/lomo1.jpg')" >
			<p class="w-3/4 lg:w-1/2 mx-auto p-10 bg-slate-50 text-xl sticky top-1/4">Det svarer til én fotolicens hvert 16. sekund</p>
		</div>


		<!-- afsnit med stock billeder -->
		<section class="max-w-4xl mx-auto my-32 prose p-8" id="hvaderstockfotos">
			<h2 class="text-2xl">Hvad er stock-fotos?</h2>
				<div class="grid grid-cols-3 gap-4">
					<div class="stagger">
						<p>Stock-fotos er billeder, der kan købes fra et foto-website. De bruges af aviser, til markedsføring og som indhold på websites. En licens til at bruge et foto koster typisk mellem 10 og 100 kroner, alt afhængig af hvad de skal bruges til.</p>
						<Image src={arbejde} alt="tre personer der kigger i en computer" />
					</div>
					<div class="stagger">
						<p>Stock-fotos bliver ofte kritiseret for at være uden sjæl - det er de der billeder af en læge i hvid kittel med stetoskop om halsen på en meget hvid baggrund eller en meget glad dame fra virksomhedens salgs- eller supportafdeling.</p>
						<Image src={apoteket} alt="to personer i et apotek" />
					</div> 
					<div class="stagger">
						<p>Stock-fotos har eksisteret i mange år. Før branchen blev digital, tilbød stock-foto virksomhederne billedmapper, der kunne bestilles fra. Men stock-foto branchen var én af de tidlige til at blive fuldt digitaliseret.</p>
						<Image src={godtarbejde} alt="to personer der giver hinanden et high five" />
					</div>
				</div>
			
		</section>

		<!-- tekst om pierres berømelse -->
		 <div class="animate__animated animate__zoomIn">
			<section class="berømmelse max-w-xl mx-auto mt-32 prose pb-16 pt-8" id="pierresberoemmelse">
				<h2 class="text-5xl font-archivo">Pierres <span class="stagger_berømmelse">berømmelse</span></h2>
				<p>Pierres interesse for foto startede som ganske ung - som 10-årig fik han sin fars gamle Rollei-kamera, og begyndte at skyde løs. Det var før den digitale revolution, så alle Pierres lommepenge blev brugt på filmruller og fremkaldelse af film. Pierre fortsatte med at fotografere på film op gennem gymnasietiden.</p>
				<p>Pierre over til digital fotografering i starten af 2000’erne, da han begyndte at studere fotografisk kommunikation på DMJX. Her åbnede en ny verden sig: Reklamefotografering i studie, lyssætning og manipulering af billeder i Photoshop blev hans nye stil. </p>
				<p>På det tidspunkt var stock-foto industrien i starten af en revolution: De første online stock-foto websites begyndte at komme på markedet, men de store, etablerede spillere på markedet holdt lidt igen. Pierre så det for sig: “Om ganske få år er hele branchen digital, og dem der ikke hopper med på den digitale vogn, lukker.”</p>
				<p>Så Pierre gav sig selv en udfordring: At blive landets bedst sælgende stock-fotograf. Pierre lejede et gammelt, billigt erhvervslokale i Ishøj industri, fik fløjet billige skuespillere ind fra Polen og Baltikum, og fotograferede 10 timer om dagen.</p>
				<p>Pierres profeti om stock-foto branchen holdt stik. Pierre var allerede en af landets bedst sælgende stock-fotografer, før han blev færdig med studiet på DMJX. 
				</p>
			</section>
		 </div>

	

		<!-- tekst om ens skillevej -->
		<section id="enskillevej">
			<div class="max-w-xl mx-auto mt-32 prose" >
				<h2 class="text-4xl font-archivo">En skillevej</h2>
				<p>Pierre tjente godt det følgende årti. Men stille og roligt begyndte billederne også at give ham kvalme. Han kunne ikke holde sit eget arbejde ud, og måtte finde et modsvar til alle de blankpolerede fotos. Noget han kunne lave med stolthed. Pierre bestluttede sig for at droppe stock-fotos, og vende tilbage til rødderne.</p>
				<p>Han søgte inspiration i analog fotografering, i Lomo-bevægelsen, Glitch art og polaroid fotografering, og begyndte stille og roligt at skabe sig en ny stil - en stil med fokus på det uperfekte, og hvor der er et uforudsigeligt element i det at tage billeder.</p>
			</div>
			<div class="grid grid-cols-2 gap-4 max-w-4xl mx-auto my-8 items-center prose">
				<div class="return_1" x-data>
					<a href="glitch.jpg" class="lightbox underline cursor cursor-mincursor" @click="$refs.lyd.play()" target={target}><slot/>
						<Image src={glitch} alt="" class="my-0" />
						<audio x-ref="lyd">
							<source src="lyd.mp3" type="audio/mpeg" />
						</audio>
						<figcaption>Glitch kunst</figcaption>
					</a>
				</div>
				<div class="return_2" x-data>
					<a href="lomo-smena-17.jpg" class="lightbox underline cursor cursor-mincursor" @click="$refs.lyd.play()" target={target}><slot/>
						<Image src={smena} alt="" class="my-0" />
						<audio x-ref="lyd">
							<source src="lyd.mp3" type="audio/mpeg" />
						</audio>
						<figcaption>Dobbelteksponering med Smena</figcaption>
					</a>
				</div>
			</div>
			<div class="max-w-xl mx-auto prose">
				<p>Pierre tog det endda så vidt at han ikke kun droppede at tage stock-fotos. Han fjernede også alle stock-fotos fra de tjenester, han solgte sine fotos hos. Han gik fra at være en god forretningsdrivende til at blive en vaskeægte boheme-type på rekordtid.</p>
			</div>
		</section>

		<!-- tekst om fotoeksperimenter -->
		<section class="fotoeks max-w-4xl mx-auto my-32 prose p-8" id="fotoeksperimenter">
			<h2 class="text-2xl font-archivo">Fotoeksperimenter</h2>
			<div class="grid grid-cols-3 gap-4">
				<div>
					<h3 class="text-xl font-archivo">Analog fotografering</h3>
					<p>Fotografering med gode, gammeldags filmruller. Analog fotografering stiger for tiden i popularitet, specielt blandt unge, og prisen på filmruller og vintage-kameraer skyder i vejret. Mange fotografer synes at film-fotografering er mere ægte har mere “sjæl.” Analog fotografering er langsommmere, hvert enkelt billede koster penge, og man bliver nødt til at overveje motiv og lys grundigere før der skydes - tænk før du trykker. </p>
					<p>Analog fotografering kan gå galt mange steder i processen, og det giver også mulighed for at eksperimentere med “det uperfekte og uforudsigelige i processen.” Man kan f.eks. skyde på for gamle filmruller, arbejde med forskellige teknikker som “lens whacking” og filtre/ting foran objektivet, og man kan pille ved de kemiske processer under fremkaldelse af filmen.</p>
				</div>
				<div>
					<h3 class="text-xl font-archivo">Glitch art</h3>
					<p>Når der sker en teknisk fejl i et medie/en kommunikationskanal kaldes det en glitch. Glitch art går ud på at dyrke fejlene for at skabe kunst. En meget typisk glitch er små analoge eller digitale fejl i farvegengivelsen af billeder.</p>
					<p></p>
				</div>
				<div>
					<h3 class="text-xl font-archivo">Lomografi</h3>
					<p>Et lomografi er egentlig bare et fotografi skudt uden videre omtanke, og med noget foto-udstyr af ret alternativ kvalitet. Lomografier skydes ofte på gode, gammeldags filmruller, men kan også skyde digitalt.</p>
					<p>Det kan måske lyde lidt anti-fotograf-agtigt. Men en del foto-entusiaster dyrker den slags, og ser det som en foto-genre eller endda en livsstil.</p>
				</div>
			</div>
		</section>

		<!-- horisontal scroll -->
		<div class="overflow-clip max-w-4xl mx-auto my-32 prose ">
			<h2 class="font-archivo">Udsnit af Pierres <span class="bg-gradient-to-b from-blue-500 to-purple-700 text-transparent bg-clip-text font-archivo ">fotografier</span></h2>
			<section id="horisontalscrollsection" class="h-[500vw] prose">
				<ul id="horisontalliste" class="list-none pl-0 flex sticky top-[10vh]">
				<li class="pl-0 flex w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[800px]"><Image src={img1} class="w-2/3" alt="foto" /><figcaption class="pl-4 italic w-1/3"></figcaption></figure></li>
				<li class="flex w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[800px]"><Image src={img2} class="w-2/3" alt="foto" /><figcaption class="pl-4 italic w-1/3"></figcaption></figure></li>
				<li class="flex w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[800px]"><Image src={img3} class="w-2/3" alt="foto" /><figcaption class="pl-4 italic w-1/3"></figcaption></figure></li>
				<li class="flex w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[800px]"><Image src={img4} class="w-2/3" alt="foto" /><figcaption class="pl-4 italic w-1/3"></figcaption></figure></li>
				<li class="flex w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[800px]"><Image src={img5} class="w-2/3" alt="foto" /><figcaption class="pl-4 italic w-1/3"></figcaption></figure></li>
				</ul>
			</section>
		</div>




		<!-- tekst om ny begyndlese med img -->
		<section id="nybegyndelse">
			<div class="max-w-xl mx-auto my-32 prose">
				<h2 class="text-4xl font-archivo">En ny begyndelse</h2>
				<p>Men Pierre er glad for sin beslutning. Indkomsten er lavere nu, men han har stadig lidt penge på kontoen, og studerer nu kunstfotografering på fotoskolen Fatamorgana. Han glæder sig over hver dags kunstneriske eksperimenter, og er for første gang i sit liv rigtig stolt af sit arbejde. Som Pierre selv udtrykker det: <span class="italic">“Det interessante ligger i fejlen. Et foto med masser af fejl er interessant. Jeg eksperimenterer med udstyr og teknik, og skaber nye visuelle udtryk. Det uperfekte er perfekt.”</span></p>
			</div>

			<div class="grid grid-cols-2 gap-4 max-w-4xl mx-auto my-8 items-center prose">
				<div x-data>
					<a href="over-out-icm.jpeg" class="lightbox" @click="$refs.lyd.play()" target={target}><slot/> 
						<Image src={overouticm} alt="" class="my-0 md:hover:animate__animated underline cursor cursor-mincursor"/>
						<audio x-ref="lyd">
							<source src="lyd.mp3" type="audio/mpeg" />
						</audio>
						<figcaption>Overeksponeret og ude af fokus</figcaption>
					</a>	
				</div>
				<div x-data>
					<a href="tynd-film.jpg" class="lightbox"@click="$refs.lyd.play()" target={target}><slot/>
						<Image src={tyndfilm} alt="" class="my-0 underline cursor cursor-mincursor"/>
						<audio x-ref="lyd">
							<source src="lyd.mp3" type="audio/mpeg" />
						</audio>
						<figcaption>Tynd film</figcaption>
					</a>
				</div>
			</div>


			<div class="max-w-xl mx-auto my-32 prose">
				<p>Karrieren begynder også så småt også at gå den rette vej: Pierre er begyndt at sælge fotokunst på nettet, og har udgivet sin første foto-bog med titlen “Lidt i fem,” som er en fotografisk odyssé om at slæbe en brandert hjem i de tidlige morgentimer. I forbindelse med udgivelsen af bogen, har han en udstilling på vej i det Kongelige Biblioteks fotoudstilling.</p>
				<p>Som Pierre forklarer det: <span class="italic">“Nu kan jeg leve livet igen. Jeg føler mig frisk. Jeg føler mig fri. Jeg føler mig genfødt.”</span></p>			
				<div class="" x-data>
					<a href="lidtifem-pierre-falcke.jpg" class="lightbox underline cursor cursor-mincursor opacity-100 timelineanimation"  @click="$refs.lyd.play()" target={target}><slot/ alt="billede af bog">
						<Image src={lidtifem} alt="" class="my-0" id="timelineanimationimage" />
						<audio x-ref="lyd">
							<source src="lyd.mp3" type="audio/mpeg" />
						</audio>
						<figcaption>Lidt i fem - ny bog af Pierre Falcke</figcaption>
					</a>			
				</div>
			</div>
		</section>
		</div>
		<div class="progress-bar h-4 fixed h-full bg-gradient-to-b from-blue-500 to-purple-700 left-0 origin-top-left top-0 right-[99%]"></div>
	</article>
</MainLayout>



<script is:inline src="/tobii.min.js"></script>
<script defer>
	const tobii = new Tobii(); 
</script>

<script>
	/* Import af Motion One biblioteket */
	import { animate, stagger, inView, scroll, timeline } from "motion";
	animate( "body", { opacity: [ 0, 1] }, { duration: 2 })
	inView( ".stagger" , () =>{
		animate(
		".stagger img",
		{ opacity: [0, 1] },
		{ 
			delay: stagger(1, { start: 1 })
		}
		)
	})

	// stagger på tekst i fotoeks
	inView( ".fotoeks", () =>{
		animate(
		".fotoeks p",
		{ opacity: [0, 4] },
		{ 
			delay: stagger(0.5, { start: 0.5 })
		}
		)
	})


	// progess bar
	scroll( animate(".progress-bar", { scaleY: [0, 1] }));

	// inview return
	inView( ".return_1", ({ target }) => {
  	animate(
      target,
      { translate: [-670, 0] },
      { delay: 0.2, duration: 1},
  	) 
    return () => {
      animate(
        target,
        { translate: [-670, 0] }
      )
  	}
	}) 

			// inview return for 2 img
	inView( ".return_2", ({ target }) => {
  	animate(
      target,
      { translate: [670, 0] },
      { delay: 0.2, duration: 1},
  	) 
    return () => {
      animate(
        target,
        { translate: [670, 0] }
      )
  	}
	}) 

	// horisontal scroll
	scroll(
	animate("#horisontalliste", {
		transform: ["none", "translateX(-500vw)"]
	}),
	{ target: document.querySelector("#horisontalscrollsection") }
	); 


	inView( ".berømmelse" , () =>{
		animate(
		".berømmelse",
		{ opacity: [0, 1] },
		)
	})

	inView("#timelineanimationimage", () => {
    const timelineanimation = [
        [".timelineanimation", { translate: [-1000, 0] }, { duration: 2 }],
        [".timelineanimation", { opacity: 1 }, { duration: 1, }],
        [".timelineanimation", { scale: 1.5 }, { duration: 0.5 }],
        [".timelineanimation", { scale: 1 }, { duration: 1 }],
    ];

    // Start animationen
    timeline(timelineanimation);
});




	


	</script>

